@use './abstracts/' as *;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html {
    font-size: 100%;

    @include mobile {
        font-size: 60%;
    }

    @include tablet {
        font-size: 80%;
    }
}

body {
    background-color: $body-bg;
    font-family: $font-family;
    font-weight: 400;
    line-height: 1.5;
    position: relative;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

ul, li {
    list-style-type: none;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1600px;
    margin: auto;
    padding: 0 2rem;
    position: relative;
}

.section {
    padding: 6rem 0;
    position:relative;

    &__header{
        font-size:3rem;
        font-weight: 700;
        position: relative;
        
        &::after {
            content: "";
            height: 10px;
            width: 10%;
            position: absolute;
            left: 0;
            top: 100%;
            background-color: $main-color;
        }
    }
}
